body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }

  .salary-calculator-nav {
    display: flex;
    background-color: #023047;
    height: 80px;
    color: antiquewhite;
    font-size: 50px;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }